@font-face {
    font-family: FrankGothicCondDemi;
    src: url(font/FRADMCN.TTF);
  }

@font-face {
    font-family: FranklinGothicMedium;
    src: url(font/framd.ttf);
}

@font-face {
    font-family: FranklinGothicMedium;
    src: url(font/FRADM.TTF);
    font-weight: bold;
}

body {
    background-color: #113361;
    color: #fff;
    font-family: FranklinGothicMedium;
    font-size: 12pt;
}

#centre-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}



h1, h2, p {
    text-align: center;
    margin-bottom: 0px;
}

h1 {
    font-family: FrankGothicCondDemi;
    font-style: italic;
    font-size: 36pt;
    filter: drop-shadow(#222 5px 5px 5px);
}

p {
    line-height: 2em;
}

.hint {
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.prompt {
    width: 20%;
}

.hint-row {
    margin-bottom: 10px;
}

.revealed {
    background-color: #fff;
    cursor: default;
    padding: 0px;
    font-weight: bold;
}

#score-container {
    text-align: right;
    width: 50%;
    padding-right: 5px;
}

#date {
    text-align: left;
    width: 50%;
    padding-left: 5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#overview {
    min-height: 100px;
}

#title-container {
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
    width: 100%;
    align-items: center;
}

#title-container i {
    font-size: 16pt;
    cursor: pointer;
}

p {
    margin-bottom: 0px;
}

#guess-panel p {
    font-size: 14pt;
}

#guess-panel {
    width: 90%
}

.guess-button {
    font-size: 20pt;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: FrankGothicCondDemi;
    filter: drop-shadow(#222 5px 5px 5px);
}

.guess-button img {
    height: 100%;
}

#dylan-button {
    background-color: #000;
    color: #b09949;
}

#dermot-button {
    background-color: #b09949;
    color: #000;
    font-weight: bold;
}

.screen {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: #1b4e93;
    border: 1px solid #fff;
    margin: 64px 20px 20px 20px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 640px;
}

#result {
    font-weight: bold;
    font-size: 18pt;
}

.answer-pic {
    width: 48%;
    margin: 1%;
}

.answer-pic img {
    width: 100%;
    border-radius: 5px;
}

.close-x {
    display: flex;
    justify-content: right;
    margin-top: -10px;
    margin-right: -10px;
    font-size: 18pt;
    width: 100%;
}

#close-help-btn, #close-button, #close-info-btn {
    cursor: pointer;
}

#see-results {
    display: none;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(#222 5px 5px 5px);
}

#help {
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(#222 5px 5px 5px);
}

#share {
    width: 100px;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(#222 5px 5px 5px);
}

#hints p {
    text-align: left;
}

#hints {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    filter: drop-shadow(#222 5px 5px 5px);
}

#movie-title {
    font-size: 18pt;
    font-weight: bold;
    color: #0e2f5b;
}

#countdown {
    font-size: 24pt
}

a {
    color: #b09949;
    text-decoration: underline;
}

a:hover {
    color: #b09949;
}

th {
    font-weight: normal;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

td {
    font-size: 20pt;
}

.axis {
    width: 80px;
    padding-right: 5px;
    text-align: right;
    border-right: solid 1px #fff;
}

.bar {
    height: 18px;
    margin-top: 3px;
    background-color: #fff;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #0e2f5b
}

#bar-0 {
    background-color: #b09949;
    color: #fff
}

#bar-incorrect {
    background-color: #444;
    color: #fff;
}

#created {
    text-align: center;
    font-size: 10pt;
    padding: 0 25px 0 25px;
}

#tmdb p, #tmdb img {
    line-height: normal;
    margin-bottom: 1em;
}

#chart {
    background-color: #0e2f5b;
    padding: 10px;
    border-radius: 5px;
}

#axis-label {
 font-weight: normal;
 line-height: 1em;
 text-align: left;
 padding-left: 4px;
}

#help-screen {
    font-size: 12pt;
    line-height: 1em;
}

#challenge {
    background-color: #0e2f5b;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#challenge p {
    line-height: 1em;
}

#challenge p:not(:last-child) {
    margin-bottom: 1em;
}

ol {
    padding-left: 20px;
}

li {
    text-align: left;
}

li img {
    margin-top: 5px;
}

li:not(:last-child) { 
    margin-bottom: 15px;  
 }
