body {
    background-color: #000;
    color: #fff;
    
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}



h1, h2, p {
    text-align: center;
}

p {
    line-height: 2em;
}

.hint {
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.prompt {
    width: 20%;
}

.hint-row {
    margin-bottom: 10px;
}

.revealed {
    background-color: #111;
    cursor: default;
    padding: 0px;
}

#score-container {
    text-align: right;
    margin-right: 5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#overview {
    min-height: 100px;
}

#title-container {
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
}

p {
    margin-bottom: 0px;
}

.guess-button {
    width: 46%;
    font-size: 16pt;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 2%;
    background-color: #333;
    cursor: pointer;
}

#answer-screen {
    display: none;
    position: absolute;
    top: 0;
    background-color: #111;
    border: 1px solid #fff;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#result {
    font-weight: bold;
    font-size: 14pt;
}

.answer-pic {
    width: 50%;
}

.answer-pic img {
    width: 100%;
}

#close-answer {
    text-align: right;
    margin-top: -10px;
    margin-right: -10px;
    font-size: 16pt;
}

#close-button {
    cursor: pointer;
}

#see-results {
    display: none;
    width: 150px;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

#hints p {
    text-align: justify;
}

#hints {
    background-color: #555;
}