@font-face {
    font-family: FrankGothicCondDemi;
    src: url(font/FRADMCN.TTF);
  }

@font-face {
    font-family: FranklinGothicMedium;
    src: url(font/framd.ttf);
}

@font-face {
    font-family: FranklinGothicMedium;
    src: url(font/fradm.ttf);
    font-weight: bold;
}

body {
    background-color: #113361;
    color: #fff;
    font-family: FranklinGothicMedium;
    font-size: 12pt;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}



h1, h2, p {
    text-align: center;
    margin-bottom: 0px;
}

h1 {
    font-family: FrankGothicCondDemi;
    font-style: italic;
    font-size: 36pt;
}

p {
    line-height: 2em;
}

.hint {
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.prompt {
    width: 20%;
}

.hint-row {
    margin-bottom: 10px;
}

.revealed {
    background-color: #fff;
    cursor: default;
    padding: 0px;
    font-weight: bold;
}

#score-container {
    text-align: right;
    margin-right: 5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#overview {
    min-height: 100px;
}

#title-container {
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
    width: 100%;
}

p {
    margin-bottom: 0px;
}

.guess-button {
    font-size: 24pt;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    align-items: center;
    font-family: FrankGothicCondDemi;
}

.guess-button img {
    height: 100%
}

#dylan-button {
    background-color: #000;
    color: #b09949;
    font-weight: bold;
}

#dermot-button {
    background-color: #b09949;
    color: #000;
    font-weight: bold;
}

#answer-screen {
    display: none;
    position: absolute;
    top: 0;
    background-color: #0e2f5b;
    border: 1px solid #fff;
    margin: 64px 20px 20px 20px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#result {
    font-weight: bold;
    font-size: 18pt;
}

.answer-pic {
    width: 50%;
}

.answer-pic img {
    width: 100%;
}

#close-answer {
    text-align: right;
    margin-top: -10px;
    margin-right: -10px;
    font-size: 18pt;
}

#close-button {
    cursor: pointer;
}

#see-results {
    display: none;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

#help {
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
    cursor: pointer;
}

#hints p {
    text-align: left;
}

#hints {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
}

#movie-title {
    font-size: 18pt;
    font-weight: bold;
    color: #0e2f5b;
}

#countdown {
    font-size: 24pt
}

a {
    color: #b09949;
    text-decoration: underline;
}

th {
    font-weight: normal;
}

td {
    font-size: 20pt;
}

.axis {
    width: 80px;
    padding-right: 5px;
    text-align: right;
    border-right: solid 1px #fff;
}

.bar {
    height: 18px;
    margin-top: 3px;
    background-color: #fff;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #0e2f5b
}

#bar-0 {
    background-color: #b09949;
    color: #fff
}

#bar-incorrect {
    background-color: #444;
    color: #fff;
}

#tmdb {
    text-align: center;
    font-size: 10pt;
    margin-top: 150px;
    padding:0 50px 0 50px;
}